.border-with-radius {
    border-radius: 20px;
    border: 1px solid #e8e7e8;
}

.border-with-radius:hover {
    box-shadow: 20px 20px 60px #cac0fb, -20px -20px 60px #ffffff;
    cursor: pointer;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    position: relative;
    top: 15%;
    left: 5%;
}

.main-box {
    width: 1152px;
}

.collection-box {
    width: 330px;
    height: 300px;
    margin: 20px;
}

.image-box{
    width: 330px;
    height: fit-content;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb4d;
}

.pic-search-input {
    margin: 20px;
    width: 400px;
}

.pagenation-box{
    margin: 50px;
}

.file-box {
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 110px;
}

.font-box{
    width: 1140px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 15px;
}

.page-box{
    margin: 50px;
}

.el-dialog{
    border-radius: 10px;
    width: fit-content;
    max-width: 50%;
    min-width: 30%;
}

.confirm-button{
    background-color: #7b62ff;
    color: #fff;
}

.confirm-button:hover{
    background-color: #cac0fb;
    color: #7b62ff;
    border-color: #7b62ff;
}

.el-upload-list{
    max-height: 300px;
    overflow: auto;
  }

